<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login Form Design | CodeLab</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'css/style.css')}}"
    />
    <style>
      .wrapper .title {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        line-height: 100px;
        color: #fff;
        user-select: none;
        border-radius: 15px 15px 0 0;
        background: linear-gradient(-135deg, #c850c0, #4158d0);
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="/logged_in" method="GET">
        <div class="field">
          <input type="text" id="rname" name="email" size="50" required><br>
          <label for="fname">Email/Username</label><br>
        </div>
        <div class="field">
          <input type="password" id="fpin" name="password" maxlength="99" size="30" required>
          <label for="fpin">Password</label>
        </div>
        <div class="content">
        </div>
        <div class="field">
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
  </body>
</html>